In [ ]:
from bs4 import BeautifulSoup
import pandas as pd
import requests
!pip install requests beautifulsoup4

In [ ]:
url = "https://fred.stlouisfed.org/release/tables?rid=110&eid=257197&od=2022-01-01#"
response = requests.get(url)
print(response.status_code)
soup = BeautifulSoup(response.content, "html.parser")

average_income = soup.find_all('td', "fred-rls-elm-vl-td")[::3]
average_income_lists = [i.get_text().strip() for i in average_income]
average_income_lists
name_state = soup.find_all('span', class_="fred-rls-elm-nm")
name_state_lists = [i.get_text() for i in name_state]
name_state_lists
states = [i for i in name_state_lists]
incomes= [i for i in average_income_lists]
income_state_df = pd.DataFrame({'State': states,'Av_income': incomes,}).sort_values('State').reset_index(drop= True )
income_state_df

In [ ]:
url = "https://worldpopulationreview.com/states"
response = requests.get(url)
soup = BeautifulSoup(response.content, "html.parser")
type(soup)
soup.find("title")
print(response.status_code)

name_state = soup.find_all("td", class_="z-40 border px-2 py-0.5")[::8]
name_state_lists = [i.get_text().strip() for i in name_state][:50:]
last_city = soup.find_all("td", class_="z-40 border px-2 py-0.5")[407:412:]
last_city_lists = [i.get_text().strip() for i in last_city][0]
name_state_lists.append(last_city_lists)
population = soup.find_all("td", class_="z-40 border px-2 py-0.5")[3::8]
population_lists = [i.get_text().strip() for i in population][:50:]
last_population = soup.find_all("td", class_="z-40 border px-2 py-0.5")[407:412:]
last_population_lists = [i.get_text().strip() for i in last_city][3]
population_lists.append(last_population_lists)

name_state1 = []
population = []
states1 = [i for i in name_state_lists]
population = [i for i in population_lists]
population_df = pd.DataFrame({'State': states, 'Population': population}).sort_values('State').reset_index(drop= True )

population_df

In [ ]:
# importing a database from  kaggle
import pandas as pd

dfdb = pd.read_csv(r"C:\Users\38095\Documents\GitHub\Project_1_SO_week3\linkedin-jobs-usa.csv")
# fixing the salary column take off the simbols ect..
salary_values = dfdb['salary'].str.split('-', expand=True)
lower_salary = salary_values[0].str.replace('[^\d.]', '', regex=True).astype(float)
upper_salary = salary_values[1].str.replace('[^\d.]', '', regex=True).astype(float)
#finding the average of this two numbers
average = (upper_salary + lower_salary)/2
dfdb['salary'] = average.round()
dfdb.head()

In [ ]:
# repacing values in salary column becsuse there are to many mistakes
dict_salary ={55.0 : 55000,
              70.0 : 70000,
              50.0 : 50000,
              32.0 : 32000,
              60.0 : 60000,
              30.0 : 30000,
              23.0 : 45000,
              45.0 : 45000,
              42.0 : 42000,
              5900.0 : 59000,
              29.0 : 29000,
              35.0 : 35000,
              36.0 :36000,
              40.0 :40000,
              69.0 :69000
              }
dfdb.salary = dfdb.salary.replace(dict_salary)

dfdb.salary.mean()
# filling some null values

dfdb.title.fillna("Junior Data Analyst", inplace = True)

dfdb.isnull().any()

dfdb.title.value_counts()
# fixing the job titles

title_mapping = {
    "Data Visualization": "Data Visualization",
    "Junior": "Junior Data Analyst",
    "Data and Analytics": "Data and Analytics",
    "Associate Data Analyst": "Associate Data Analyst",
    "Business Data Analyst": "Business Data Analyst",
    "Consultant": "Consultant",
    "Global Remote": "Remote Data Analyst",
    "Hybrid": "Hybrid Data Analyst",
    "Remote": "Remote Data Analyst",
    "SQL": "SQL Data Analyst",
    "Energy": "Energy Data Analyst",
    "Recent Graduate": "Recent Graduate Data Analyst",
    "Weekly Hybrid Remote/Onsite Schedule": "Hybrid Data Analyst",
    "Collector": "Collector Data Analyst",
    "Data Analytics": "Data Analytics Analyst",
    "Marketing": "Marketing Data Analyst",
    "SQL, Operations": "SQL Data Analyst",
    "Senior": "Senior Data Analyst",
    "Entry Level": "Entry Level Data Analyst",
    "Data Analyst": "Data Analyst"
}


def map_job_title(title):
    for key, value in title_mapping.items():
        if key.lower() in title.lower():
            return value
    return title


updated_title = dfdb["title"].apply(map_job_title)
dfdb["title"] = updated_title
#finding the average  salary for each title of job
average_salary_by_title = dfdb.groupby("title")['salary'].mean()
#fixing satetes because some of them have just the prefixes
state_mapping_full = {
    "United States": "United States",
    "New York City Metropolitan Area": "New York",
    "Chicago, IL": "Illinois",
    "New York, NY": "New York",
    "Austin, TX": "Texas",
    "Texas, United States": "Texas",
    "Timonium, MD": "Maryland",
    "Dallas, TX": "Texas",
    "Boston, MA": "Massachusetts",
    "Charlotte, NC": "North Carolina",
    "Miami, FL": "Florida",
    "New York, United States": "New York",
    "Franklin, TN": "Tennessee",
    "Tempe, AZ": "Arizona",
    "Illinois, United States": "Illinois",
    "Greensboro--Winston-Salem--High Point Area": "North Carolina",
    "Greater Scranton Area": "Pennsylvania",
    "Tennessee, United States": "Tennessee",
    "Indiana, United States": "Indiana",
    "Denver Metropolitan Area": "Colorado",
    "District of Columbia, United States": "District of Columbia",
    "Conshohocken, PA": "Pennsylvania",
    "Phoenix, AZ": "Arizona",
    "North Carolina, United States": "North Carolina",
    "Greater Sacramento": "California",
    "Richfield, MN": "Minnesota",
    "Morgan Hill, CA": "California",
    "Cincinnati Metropolitan Area": "Ohio",
    "Hartford, CT": "Connecticut",
    "Atlanta Metropolitan Area": "Georgia",
    "Quincy, MA": "Massachusetts",
    "Buffalo-Niagara Falls Area": "New York",
    "San Francisco, CA": "California",
    "Irvine, CA": "California",
    "Houston, TX": "Texas",
    "Omaha, NE": "Nebraska",
    "San Jose, CA": "California",
    "Scottsdale, AZ": "Arizona",
    "San Francisco Bay Area": "California",
    "Manassas, VA": "Virginia"
}


dfdb['location'] = dfdb['location'].map(state_mapping_full)
# replacing the result for the usa in other values
state_counts = dfdb["location"].value_counts()
total_count = state_counts.sum() - state_counts["United States"]
ratios = state_counts / total_count
replacements = (dfdb["location"].value_counts()["United States"] * ratios).round().astype(int)
print(replacements)
for i, location in enumerate(dfdb["location"]):
    if location == "United States":
        for key, value in replacements.items():
            if value > 0 and key != "United States":
                dfdb.at[i, "location"] = key
                replacements[key] -= 1
                break


dfdb.groupby("location")["salary"].mean()

data = {
    "State": ["Arizona", "California", "Colorado", "Connecticut", "District of Columbia",
                 "Florida", "Georgia", "Illinois", "Indiana", "Maryland", "Massachusetts",
                 "Minnesota", "Nebraska", "New York", "North Carolina", "Ohio", 
                 "Pennsylvania", "Tennessee", "Texas"],
    "Av_salary": [81431.818182, 70408.450704, 40411.111111, 89375.000000, 117546.511628,
               86250.000000, 81888.888889, 86000.000000, 103750.000000, 86363.636364,
               82700.000000, 50583.333333, 95000.000000, 72483.673469, 69901.639344,
               71000.000000, 86603.829787, 102305.555556, 83276.595745],
    "Number_of_Vac": [135, 251, 49, 47, 49, 54, 46, 258, 50, 82, 119, 47, 41, 475, 153, 47, 97, 101, 302]
}
# thats the dataframe  that groups the columns that we want to compare
result_df = pd.DataFrame(data)
df_by_title = dfdb.groupby(["location", "title"]).agg({"salary": "mean"}).reset_index()

In [ ]:
import numpy as np
merged_df = pd.merge(population_df, income_state_df, on='State', how='left')
merged_df = pd.merge(merged_df, result_df, on='State', how='left')
merged_df['Population'] = merged_df['Population'].str.replace(',', '').astype(int)
merged_df['Population'] = (merged_df['Population']/1000000).round(2)


merged_df['Av_income'] = merged_df['Av_income'].str.replace(',', '').astype(int)
merged_df

In [ ]:
merged_df.replace([np.inf, -np.inf], np.nan, inplace=True)
merged_df.dropna(how='any', inplace=True)

In [ ]:
merged_df.reset_index(drop= True )
merged_df.dropna(how='any', inplace=True)

In [ ]:
merged_df['Vacancies/Population'] = merged_df['Number_of_Vac']/merged_df['Population']
merged_df['Av_salary/Av_income'] = (merged_df['Av_salary']/merged_df['Av_income'])*100

In [ ]:
merged_df['Vacancies/Population'] = merged_df['Vacancies/Population'].astype(float)
merged_df['Vacancies/Population'] = merged_df['Vacancies/Population'].map(lambda x: round(x, 6))
merged_df['Av_salary/Av_income'] = merged_df['Av_salary/Av_income'].map("{:.2f}%".format)

merged_df

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
#this barchart shows the comparing the average income per state and average salary of working in data analysis whatever is the field
sorted_df = merged_df.sort_values(by='Av_income')
plt.figure(figsize=(10, 6))
plt.bar(sorted_df['State'], sorted_df['Av_income'], color='skyblue')
plt.title('Per Capita Personal Income by State, Annual')
plt.xlabel('State')
plt.ylabel('Income')
plt.xticks(rotation=90)
plt.tight_layout()
plt.show()

In [ ]:
bar_width = 0.35
index = range(len(merged_df))
plt.figure(figsize=(12, 6))
plt.bar(index, merged_df['Av_income'], bar_width, label='PCP Income')
plt.bar([i + bar_width for i in index], merged_df['Av_salary'], bar_width, label='Average Salary for DA')
plt.xlabel('State')
plt.ylabel('Amount')
plt.title('Average Salary for DA and Per Capita Personal Income by State')
plt.xticks([i + bar_width/2 for i in index], merged_df['State'])
plt.xticks(rotation=90)
plt.legend()
plt.savefig('Average Salary for DA and Per Capita Personal Income by State')
plt.tight_layout()
plt.show()
##############################################################
bar_width = 0.35
index = range(len(merged_df))
plt.figure(figsize=(12, 6))
plt.bar(index, merged_df['Population'], bar_width, label='Population in mln.')
plt.bar([i + bar_width for i in index], merged_df['Number_of_Vac'], bar_width, label='Number of Vacancies per 1 million')
plt.xlabel('State')
plt.ylabel('Amount')
plt.title('Population and number of DA Vacancies')
plt.xticks([i + bar_width/2 for i in index], merged_df['State'])
plt.xticks(rotation=90)
plt.legend()
plt.savefig('Population and number of DA Vacancies')
plt.tight_layout()
plt.show()

In [ ]:
Av_income_sort_df = merged_df.sort_values(by='Av_income')
Vac_pop_sort_df = merged_df.sort_values(by='Vacancies/Population')
Sal_income_sort_df = merged_df.sort_values(by='Av_salary/Av_income')
Av_income_sort_df

In [ ]:
Vac_pop_sort_df

In [ ]:
Sal_income_sort_df

In [ ]:
set1_subset  = Av_income_sort_df.head(5)
set2_subset  = Vac_pop_sort_df.head(5)
set3_subset  = Sal_income_sort_df.head(5)

In [ ]:
out_come_df = pd.DataFrame()
out_come_df = pd.concat([set1_subset , set2_subset , set3_subset], ignore_index=True)
out_come_df

In [ ]:
state_counts = out_come_df['State'].value_counts()
state_rating_dict = state_counts.to_dict()
state_rating_dict

In [ ]:
top_five_states = list(state_rating_dict.keys())[:5]
best_choice_df = merged_df[merged_df['State'].isin(top_five_states)]

In [ ]:
last_df = best_choice_df.sort_values(by=['Vacancies/Population', 'Av_salary/Av_income', 'Av_salary'], ascending=[False, False, False]).reset_index(drop= True )
last_df

In [ ]:
last_df['Population'] = last_df['Population']/10

In [ ]:
index = range(len(last_df))
fig, ax1 = plt.subplots(figsize=(10, 6))
ax1.bar(index, last_df['Vacancies/Population'], bar_width, label='Number of Vacancies per 1 million', color='b')
ax1.set_xlabel('State')
ax1.set_ylabel('Number of Vacancies per 1 million', color='b')
ax1.set_title('The best states for DA')
ax1.set_xticks(index)
ax1.set_xticklabels(last_df['State'], rotation=90)
ax1.legend(loc='upper left')
ax2 = ax1.twinx()
ax2.plot(index, last_df['Av_salary/Av_income'], color='r', marker='o', label='Av_salary/Av_income')
ax2.set_ylabel('Average Salary / Average Income', color='r')
ax2.legend(loc='upper right')
plt.savefig('The_best_states_for_DA.png')
plt.tight_layout()
plt.show()

In [ ]:
ai_df = merged_df[["State","Av_income"]]

ai_df = ai_df.rename(columns={"State":"location","Av_income":"salary"})

title_and_avg = pd.concat([ai_df,df_by_title])

title_avg = title_and_avg.sort_values("location")

In [ ]:
# this barchart compares average income for each state with average salary for every type of job in data analysis
import seaborn as sns
import matplotlib.pyplot as plt
plt.figure(figsize=(20, 9))
bar_width = 0.4 
sns.barplot(data=title_avg, x='location', y='salary', hue='title', dodge=False, width=bar_width)
ax = plt.gca()
sns.barplot(data=merged_df, x='State', y='Av_income', saturation=0.75, alpha=0.3, color='yellow', label='Average Income', ci=None, ax=ax)
plt.title('Salary by Position and Location')
plt.xlabel('Location')
plt.ylabel('Salary')
plt.xticks(rotation=45, ha='right')
plt.legend(title='Title')
plt.show()