In [2]:
from bs4 import BeautifulSoup
import pandas as pd
import requests
!pip install requests beautifulsoup4

Requirement already satisfied: requests in c:\users\38095\anaconda3\lib\site-packages (2.31.0)
Requirement already satisfied: beautifulsoup4 in c:\users\38095\anaconda3\lib\site-packages (4.12.2)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\38095\anaconda3\lib\site-packages (from requests) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\38095\anaconda3\lib\site-packages (from requests) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\38095\anaconda3\lib\site-packages (from requests) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\38095\anaconda3\lib\site-packages (from requests) (2024.2.2)
Requirement already satisfied: soupsieve>1.2 in c:\users\38095\anaconda3\lib\site-packages (from beautifulsoup4) (2.4)

In [3]:
url = "https://fred.stlouisfed.org/release/tables?rid=110&eid=257197&od=2022-01-01#"
response = requests.get(url)
print(response.status_code)
soup = BeautifulSoup(response.content, "html.parser")

average_income = soup.find_all('td', "fred-rls-elm-vl-td")[::3]
average_income_lists = [i.get_text().strip() for i in average_income]
average_income_lists
name_state = soup.find_all('span', class_="fred-rls-elm-nm")
name_state_lists = [i.get_text() for i in name_state]
name_state_lists
states = [i for i in name_state_lists]
incomes= [i for i in average_income_lists]
income_state_df = pd.DataFrame({'State': states,'Av_income': incomes,}).sort_values('State').reset_index(drop= True )
income_state_df

200

                   State Av_income
0                Alabama    50,920
1                 Alaska    68,664
2                Arizona    58,390
3               Arkansas    52,604
4             California    77,013
5               Colorado    75,708
6            Connecticut    83,340
7               Delaware    63,177
8   District of Columbia    96,092
9                Florida    64,804
10               Georgia    56,588
11                Hawaii    61,813
12                 Idaho    56,615
13              Illinois    67,653
14               Indiana    58,329
15                  Iowa    60,238
16                Kansas    60,433
17              Kentucky    51,929
18             Louisiana    54,527
19                 Maine    60,425
20              Maryland    70,236
21         Massachusetts    84,551
22              Michigan    57,043
23             Minnesota    68,874
24           Mississippi    46,388
25              Missouri    57,825
26               Montana    60,984
27              Nebraska    64,263
28                Nevada    62,092
29         New Hampshire    73,711
30            New Jersey    77,206
31            New Mexico    52,190
32              New York    75,423
33        North Carolina    58,125
34          North Dakota    70,391
35                  Ohio    57,759
36              Oklahoma    56,306
37                Oregon    62,314
38          Pennsylvania    64,506
39          Rhode Island    63,551
40        South Carolina    53,615
41          South Dakota    68,173
42             Tennessee    58,311
43                 Texas    62,585
44                  Utah    59,449
45               Vermont    63,035
46              Virginia    69,021
47            Washington    75,345
48         West Virginia    50,024
49             Wisconsin    61,496
50               Wyoming    73,216

In [4]:
url = "https://worldpopulationreview.com/states"
response = requests.get(url)
soup = BeautifulSoup(response.content, "html.parser")
type(soup)
soup.find("title")
print(response.status_code)

name_state = soup.find_all("td", class_="z-40 border px-2 py-0.5")[::8]
name_state_lists = [i.get_text().strip() for i in name_state][:50:]
last_city = soup.find_all("td", class_="z-40 border px-2 py-0.5")[407:412:]
last_city_lists = [i.get_text().strip() for i in last_city][0]
name_state_lists.append(last_city_lists)
population = soup.find_all("td", class_="z-40 border px-2 py-0.5")[3::8]
population_lists = [i.get_text().strip() for i in population][:50:]
last_population = soup.find_all("td", class_="z-40 border px-2 py-0.5")[407:412:]
last_population_lists = [i.get_text().strip() for i in last_city][3]
population_lists.append(last_population_lists)

name_state1 = []
population = []
states1 = [i for i in name_state_lists]
population = [i for i in population_lists]
population_df = pd.DataFrame({'State': states, 'Population': population}).sort_values('State').reset_index(drop= True )

population_df

200

                   State  Population
0                Alabama  38,965,193
1                 Alaska  30,503,301
2                Arizona  22,610,726
3               Arkansas  19,571,216
4             California  12,961,683
5               Colorado  12,549,689
6            Connecticut  11,785,935
7               Delaware  11,029,227
8   District of Columbia  10,835,491
9                Florida  10,037,261
10               Georgia   9,290,841
11                Hawaii   8,715,698
12                 Idaho   7,812,880
13              Illinois   7,431,344
14               Indiana   7,126,489
15                  Iowa   7,001,399
16                Kansas   6,862,199
17              Kentucky   6,196,156
18             Louisiana   6,180,253
19                 Maine   5,910,955
20              Maryland   5,877,610
21         Massachusetts   5,737,915
22              Michigan   5,373,555
23             Minnesota   5,108,468
24           Mississippi   4,573,749
25              Missouri   4,526,154
26               Montana   4,233,358
27              Nebraska   4,053,824
28                Nevada   3,617,176
29         New Hampshire   3,417,734
30            New Jersey   3,207,004
31            New Mexico   3,194,176
32              New York   3,067,732
33        North Carolina   2,940,546
34          North Dakota   2,939,690
35                  Ohio   2,114,371
36              Oklahoma   1,964,726
37                Oregon   1,978,379
38          Pennsylvania   1,770,071
39          Rhode Island   1,435,138
40        South Carolina   1,402,054
41          South Dakota   1,395,722
42             Tennessee   1,132,812
43                 Texas   1,095,962
44                  Utah   1,031,890
45               Vermont     919,318
46              Virginia     783,926
47            Washington     733,406
48         West Virginia     647,464
49             Wisconsin     584,057
50               Wyoming     678,972

In [20]:
merged_df = pd.merge(population_df, income_state_df, on='State', how='inner')
merged_df.to_csv('webscrap.csv', index=False)

In [21]:
merged_df

                   State  Population Av_income
0                Alabama  38,965,193    50,920
1                 Alaska  30,503,301    68,664
2                Arizona  22,610,726    58,390
3               Arkansas  19,571,216    52,604
4             California  12,961,683    77,013
5               Colorado  12,549,689    75,708
6            Connecticut  11,785,935    83,340
7               Delaware  11,029,227    63,177
8   District of Columbia  10,835,491    96,092
9                Florida  10,037,261    64,804
10               Georgia   9,290,841    56,588
11                Hawaii   8,715,698    61,813
12                 Idaho   7,812,880    56,615
13              Illinois   7,431,344    67,653
14               Indiana   7,126,489    58,329
15                  Iowa   7,001,399    60,238
16                Kansas   6,862,199    60,433
17              Kentucky   6,196,156    51,929
18             Louisiana   6,180,253    54,527
19                 Maine   5,910,955    60,425
20              Maryland   5,877,610    70,236
21         Massachusetts   5,737,915    84,551
22              Michigan   5,373,555    57,043
23             Minnesota   5,108,468    68,874
24           Mississippi   4,573,749    46,388
25              Missouri   4,526,154    57,825
26               Montana   4,233,358    60,984
27              Nebraska   4,053,824    64,263
28                Nevada   3,617,176    62,092
29         New Hampshire   3,417,734    73,711
30            New Jersey   3,207,004    77,206
31            New Mexico   3,194,176    52,190
32              New York   3,067,732    75,423
33        North Carolina   2,940,546    58,125
34          North Dakota   2,939,690    70,391
35                  Ohio   2,114,371    57,759
36              Oklahoma   1,964,726    56,306
37                Oregon   1,978,379    62,314
38          Pennsylvania   1,770,071    64,506
39          Rhode Island   1,435,138    63,551
40        South Carolina   1,402,054    53,615
41          South Dakota   1,395,722    68,173
42             Tennessee   1,132,812    58,311
43                 Texas   1,095,962    62,585
44                  Utah   1,031,890    59,449
45               Vermont     919,318    63,035
46              Virginia     783,926    69,021
47            Washington     733,406    75,345
48         West Virginia     647,464    50,024
49             Wisconsin     584,057    61,496
50               Wyoming     678,972    73,216