In [1]:
import pandas as pd

In [2]:
dfd = pd.read_csv(r"C:\Users\zaiid\OneDrive\Desktop\archive_3\linkedin-jobs-usa.csv")
dfd

FileNotFoundError: [Errno 2] No such file or directory: 'C:\\Users\\zaiid\\OneDrive\\Desktop\\archive_3\\linkedin-jobs-usa.csv'

In [ ]:
dfd.salary

In [ ]:
salary_values = dfd['salary'].str.split('-', expand=True)
lower_salary = salary_values[0].str.replace('[^\d.]', '', regex=True).astype(float)
upper_salary = salary_values[1].str.replace('[^\d.]', '', regex=True).astype(float)
average = (upper_salary + lower_salary)/2
dfd['salary'] = average.round()
dfd

In [ ]:
dfd.salary.value_counts()

In [ ]:
dict_salary ={55.0 : 55000.0,
              70.0 : 70000.0,
              50.0 : 50000.0,
              32.0 : 32000.0,
              60.0 : 60000.0,
              30.0 : 30000.0,
              23.0 : 45000.0,
              45.0 : 45000.0,
              42.0 : 42000.0,
              5900.0 : 59000.0,
              29.0 : 29000.0,
              35.0 : 35000.0,
              36.0 :36000.0,
              40.0 :40000.0,
              69.0 :69000.0
              }
dfd.salary = dfd.salary.replace(dict_salary)

In [ ]:
dfd.salary.mean()

In [ ]:
dfd.title.fillna("Junior Data Analyst", inplace = True)

In [ ]:
dfd.isnull().any()

In [ ]:
dfd.title.value_counts()

In [ ]:
# Dictionary to map similar job titles to a standardized title
#title_mapping = {
 #   "Analyst (Global Data and Analytics)": "Global Data and Analytics Analyst",
  #  "Analyst - Data Visualization": "Data Visualization Analyst",
  #  "Analyst, Data and Analytics": "Data and Analytics Analyst",
   # "Associate Data Analyst": "Associate Data Analyst",
    #"Business Data Analyst": "Business Data Analyst",
 #   "Consultant/Data Analyst": "Consultant/Data Analyst",
 #   "Data Analyst": "Data Analyst",
 #   "Data Analyst (Global Remote)": "Global Remote Data Analyst",
 #   "Data Analyst (Hybrid)": "Hybrid Data Analyst",
 #   "Data Analyst (Remote)": "Remote Data Analyst",
 #   "Data Analyst (SQL)": "SQL Data Analyst",
   # "Data Analyst (SQL, Teraform, Tableau) III - Remote": "Remote SQL Data Analyst",
    #"Data Analyst - (Remote - US)": "Remote US Data Analyst",
  #  "Data Analyst - Energy": "Energy Data Analyst",
   # "Data Analyst - Recent Graduate": "Recent Graduate Data Analyst",
  #  "Data Analyst - Remote": "Remote Data Analyst",
  #  "Data Analyst - Weekly Hybrid Remote/Onsite Schedule": "Weekly Hybrid Remote/Onsite Data Analyst",
  #  "Data Analyst - remote!": "Remote Data Analyst",
  #  "Data Analyst I": "Data Analyst I",
  #  "Data Analyst I (entry level)": "Entry Level Data Analyst",
  #  "Data Analyst III - Remote": "Remote Data Analyst III",
  #  "Data Analyst, Money": "Money Data Analyst",
  #  "Data Analyst/ $100M Valuation/ Hybrid": "Hybrid Data Analyst",
  #  "Data Analyst/Collector": "Collector Data Analyst",
  #  "Data Analytics Analyst": "Data Analytics Analyst",
  #  "Data Visualization Analyst": "Data Visualization Analyst",
  #  "Data analyst": "Data Analyst",
  #  "Entry Level Data Analyst": "Entry Level Data Analyst",
   # "Entry-Level Data Analyst": "Entry Level Data Analyst",
    #"Group Data Analyst": "Group Data Analyst",
    #"Junior Data Analyst": "Junior Data Analyst",
  #  "Junior Data Analyst-Entry Level": "Junior Data Analyst",
  #  "Marketing Data Analyst": "Marketing Data Analyst",
  #  "REMOTE Data Analyst (SQL, Operations)": "Remote SQL Data Analyst",
   # "SQL Data Analyst": "SQL Data Analyst",
   # "Senior Data Analyst": "Senior Data Analyst"
#}

# Update DataFrame with standardized job titles
#df2['title'] = df2['title'].map(title_mapping)
# Dictionary to map similar job titles to a standardized title
title_mapping = {
    "Data Visualization": "Data Visualization",
    "Junior": "Junior Data Analyst",
    "Data and Analytics": "Data and Analytics",
    "Associate Data Analyst": "Associate Data Analyst",
    "Business Data Analyst": "Business Data Analyst",
    "Consultant": "Consultant",
    "Global Remote": "Remote Data Analyst",
    "Hybrid": "Hybrid Data Analyst",
    "Remote": "Remote Data Analyst",
    "SQL": "SQL Data Analyst",
    "Energy": "Energy Data Analyst",
    "Recent Graduate": "Recent Graduate Data Analyst",
    "Weekly Hybrid Remote/Onsite Schedule": "Hybrid Data Analyst",
    "Collector": "Collector Data Analyst",
    "Data Analytics": "Data Analytics Analyst",
    "Marketing": "Marketing Data Analyst",
    "SQL, Operations": "SQL Data Analyst",
    "Senior": "Senior Data Analyst",
    "Entry Level": "Entry Level Data Analyst",
    "Data Analyst": "Data Analyst"
}

# Update DataFrame with standardized job titles
def map_job_title(title):
    for key, value in title_mapping.items():
        if key.lower() in title.lower():
            return value
    return title


updated_title = dfd["title"].apply(map_job_title)
dfd["title"] = updated_title
dfd

In [ ]:
dfd.location.value_counts().head(40)

In [ ]:
average_salary_by_title = dfd.groupby("title")['salary'].mean()
#df2['salary'] = df2.apply(lambda row: average_salary_by_title[row['title']] if pd.isna(row['salary']) else row['salary'], axis=1)
average_salary_by_title

In [ ]:

state_mapping_full = {
    "United States": "United States",
    "New York City Metropolitan Area": "New York",
    "Chicago, IL": "Illinois",
    "New York, NY": "New York",
    "Austin, TX": "Texas",
    "Texas, United States": "Texas",
    "Timonium, MD": "Maryland",
    "Dallas, TX": "Texas",
    "Boston, MA": "Massachusetts",
    "Charlotte, NC": "North Carolina",
    "Miami, FL": "Florida",
    "New York, United States": "New York",
    "Franklin, TN": "Tennessee",
    "Tempe, AZ": "Arizona",
    "Illinois, United States": "Illinois",
    "Greensboro--Winston-Salem--High Point Area": "North Carolina",
    "Greater Scranton Area": "Pennsylvania",
    "Tennessee, United States": "Tennessee",
    "Indiana, United States": "Indiana",
    "Denver Metropolitan Area": "Colorado",
    "District of Columbia, United States": "District of Columbia",
    "Conshohocken, PA": "Pennsylvania",
    "Phoenix, AZ": "Arizona",
    "North Carolina, United States": "North Carolina",
    "Greater Sacramento": "California",
    "Richfield, MN": "Minnesota",
    "Morgan Hill, CA": "California",
    "Cincinnati Metropolitan Area": "Ohio",
    "Hartford, CT": "Connecticut",
    "Atlanta Metropolitan Area": "Georgia",
    "Quincy, MA": "Massachusetts",
    "Buffalo-Niagara Falls Area": "New York",
    "San Francisco, CA": "California",
    "Irvine, CA": "California",
    "Houston, TX": "Texas",
    "Omaha, NE": "Nebraska",
    "San Jose, CA": "California",
    "Scottsdale, AZ": "Arizona",
    "San Francisco Bay Area": "California",
    "Manassas, VA": "Virginia"
}


dfd['location'] = dfd['location'].map(state_mapping_full)

In [ ]:
dfd.location.value_counts()

In [ ]:
state_counts = dfd["location"].value_counts()
total_count = state_counts.sum() - state_counts["United States"]
ratios = state_counts / total_count
replacements = (dfd["location"].value_counts()["United States"] * ratios).round().astype(int)
print(replacements)
for i, location in enumerate(dfd["location"]):
    if location == "United States":
        for key, value in replacements.items():
            if value > 0 and key != "United States":
                dfd.at[i, "location"] = key
                replacements[key] -= 1
                break

In [ ]:
dfd.location.value_counts()

In [ ]:
dfd

In [ ]:
dfd.groupby("location")["salary"].mean()

In [ ]:
dfd.location.value_counts()

In [ ]:
data = {
    "location": ["Arizona", "California", "Colorado", "Connecticut", "District of Columbia",
                 "Florida", "Georgia", "Illinois", "Indiana", "Maryland", "Massachusetts",
                 "Minnesota", "Nebraska", "New York", "North Carolina", "Ohio", 
                 "Pennsylvania", "Tennessee", "Texas"],
    "salary": [81431.818182, 70408.450704, 40411.111111, 89375.000000, 117546.511628,
               86250.000000, 81888.888889, 86000.000000, 103750.000000, 86363.636364,
               82700.000000, 50583.333333, 95000.000000, 72483.673469, 69901.639344,
               71000.000000, 86603.829787, 102305.555556, 83276.595745],
    "count": [135, 251, 49, 47, 49, 54, 46, 258, 50, 82, 119, 47, 41, 475, 153, 47, 97, 101, 302]
}

result_df = pd.DataFrame(data)
result_df