In [1]:
from bs4 import BeautifulSoup
import pandas as pd
import requests
!pip install requests beautifulsoup4
url = "https://worldpopulationreview.com/states"
response = requests.get(url)
soup = BeautifulSoup(response.content, "html.parser")
type(soup)
soup.find("title")

Requirement already satisfied: requests in c:\users\38095\anaconda3\lib\site-packages (2.31.0)
Requirement already satisfied: beautifulsoup4 in c:\users\38095\anaconda3\lib\site-packages (4.12.2)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\38095\anaconda3\lib\site-packages (from requests) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\38095\anaconda3\lib\site-packages (from requests) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\38095\anaconda3\lib\site-packages (from requests) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\38095\anaconda3\lib\site-packages (from requests) (2024.2.2)
Requirement already satisfied: soupsieve>1.2 in c:\users\38095\anaconda3\lib\site-packages (from beautifulsoup4) (2.4)

In [2]:
print(response.status_code)

200

In [37]:
name_state = soup.find_all("td", class_="z-40 border px-2 py-0.5")[::8]
name_state_lists = [i.get_text().strip() for i in name_state]

population = soup.find_all("td", class_="z-40 border px-2 py-0.5")[3::8]
population_lists = [i.get_text().strip() for i in population]

name_state = []
population = []

states = [i for i in name_state_lists]
population = [i for i in population_lists]



population_df = pd.DataFrame({'State': states, 'Population': population})
population_df

             State                                         Population
0       California                                         38,965,193
1            Texas                                         30,503,301
2          Florida                                         22,610,726
3         New York                                         19,571,216
4     Pennsylvania                                         12,961,683
5         Illinois                                         12,549,689
6             Ohio                                         11,785,935
7          Georgia                                         11,029,227
8   North Carolina                                         10,835,491
9         Michigan                                         10,037,261
10      New Jersey                                          9,290,841
11        Virginia                                          8,715,698
12      Washington                                          7,812,880
13         Arizona                                          7,431,344
14       Tennessee                                          7,126,489
15   Massachusetts                                          7,001,399
16         Indiana                                          6,862,199
17        Missouri                                          6,196,156
18        Maryland                                          6,180,253
19       Wisconsin                                          5,910,955
20        Colorado                                          5,877,610
21       Minnesota                                          5,737,915
22  South Carolina                                          5,373,555
23         Alabama                                          5,108,468
24       Louisiana                                          4,573,749
25        Kentucky                                          4,526,154
26          Oregon                                          4,233,358
27        Oklahoma                                          4,053,824
28     Connecticut                                          3,617,176
29            Utah                                          3,417,734
30            Iowa                                          3,207,004
31          Nevada                                          3,194,176
32        Arkansas                                          3,067,732
33          Kansas                                          2,940,546
34     Mississippi                                          2,939,690
35      New Mexico                                          2,114,371
36           Idaho                                          1,964,726
37        Nebraska                                          1,978,379
38   West Virginia                                          1,770,071
39          Hawaii                                          1,435,138
40   New Hampshire                                          1,402,054
41           Maine                                          1,395,722
42         Montana                                          1,132,812
43    Rhode Island                                          1,095,962
44        Delaware                                          1,031,890
45    South Dakota                                            919,318
46    North Dakota                                            783,926
47          Alaska                                            733,406
48         Vermont                                            647,464
49         Wyoming                                            584,057
50     Puerto Rico                                          3,205,691
51         686,995                                            670,839
52              22  Articles about shared celebrations, languages ...
53             135                      Facts and trivia about states
54             126  Articles about the past events and development...
55               8  Articles about state military forces and defen...
56              45  Articles about the technology and business env...

In [38]:
population_df = population_df.sort_values('State').reset_index(drop= True )
population_df

             State                                         Population
0              126  Articles about the past events and development...
1              135                      Facts and trivia about states
2               22  Articles about shared celebrations, languages ...
3               45  Articles about the technology and business env...
4          686,995                                            670,839
5                8  Articles about state military forces and defen...
6          Alabama                                          5,108,468
7           Alaska                                            733,406
8          Arizona                                          7,431,344
9         Arkansas                                          3,067,732
10      California                                         38,965,193
11        Colorado                                          5,877,610
12     Connecticut                                          3,617,176
13        Delaware                                          1,031,890
14         Florida                                         22,610,726
15         Georgia                                         11,029,227
16          Hawaii                                          1,435,138
17           Idaho                                          1,964,726
18        Illinois                                         12,549,689
19         Indiana                                          6,862,199
20            Iowa                                          3,207,004
21          Kansas                                          2,940,546
22        Kentucky                                          4,526,154
23       Louisiana                                          4,573,749
24           Maine                                          1,395,722
25        Maryland                                          6,180,253
26   Massachusetts                                          7,001,399
27        Michigan                                         10,037,261
28       Minnesota                                          5,737,915
29     Mississippi                                          2,939,690
30        Missouri                                          6,196,156
31         Montana                                          1,132,812
32        Nebraska                                          1,978,379
33          Nevada                                          3,194,176
34   New Hampshire                                          1,402,054
35      New Jersey                                          9,290,841
36      New Mexico                                          2,114,371
37        New York                                         19,571,216
38  North Carolina                                         10,835,491
39    North Dakota                                            783,926
40            Ohio                                         11,785,935
41        Oklahoma                                          4,053,824
42          Oregon                                          4,233,358
43    Pennsylvania                                         12,961,683
44     Puerto Rico                                          3,205,691
45    Rhode Island                                          1,095,962
46  South Carolina                                          5,373,555
47    South Dakota                                            919,318
48       Tennessee                                          7,126,489
49           Texas                                         30,503,301
50            Utah                                          3,417,734
51         Vermont                                            647,464
52        Virginia                                          8,715,698
53      Washington                                          7,812,880
54   West Virginia                                          1,770,071
55       Wisconsin                                          5,910,955
56         Wyoming                                            584,057

In [35]:
import os
print(os.getcwd())

C:\Users\38095\Documents\GitHub\Project_1_SO_week3

In [36]:
population_df.to_csv('population.csv', index=False)