In [5]:
from bs4 import BeautifulSoup
import pandas as pd
import requests
!pip install requests beautifulsoup4

Requirement already satisfied: requests in c:\users\38095\anaconda3\lib\site-packages (2.31.0)
Requirement already satisfied: beautifulsoup4 in c:\users\38095\anaconda3\lib\site-packages (4.12.2)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\38095\anaconda3\lib\site-packages (from requests) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\38095\anaconda3\lib\site-packages (from requests) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\38095\anaconda3\lib\site-packages (from requests) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\38095\anaconda3\lib\site-packages (from requests) (2024.2.2)
Requirement already satisfied: soupsieve>1.2 in c:\users\38095\anaconda3\lib\site-packages (from beautifulsoup4) (2.4)

In [6]:
url = "https://fred.stlouisfed.org/release/tables?rid=110&eid=257197&od=2022-01-01#"
response = requests.get(url)
print(response.status_code)
soup = BeautifulSoup(response.content, "html.parser")

average_income = soup.find_all('td', "fred-rls-elm-vl-td")[::3]
average_income_lists = [i.get_text().strip() for i in average_income]
average_income_lists
name_state = soup.find_all('span', class_="fred-rls-elm-nm")
name_state_lists = [i.get_text() for i in name_state]
name_state_lists
states = [i for i in name_state_lists]
incomes= [i for i in average_income_lists]
income_state_df = pd.DataFrame({'State': states,'Av_income': incomes,}).sort_values('State').reset_index(drop= True )
income_state_df

200

                   State Av_income
0                Alabama    50,920
1                 Alaska    68,664
2                Arizona    58,390
3               Arkansas    52,604
4             California    77,013
5               Colorado    75,708
6            Connecticut    83,340
7               Delaware    63,177
8   District of Columbia    96,092
9                Florida    64,804
10               Georgia    56,588
11                Hawaii    61,813
12                 Idaho    56,615
13              Illinois    67,653
14               Indiana    58,329
15                  Iowa    60,238
16                Kansas    60,433
17              Kentucky    51,929
18             Louisiana    54,527
19                 Maine    60,425
20              Maryland    70,236
21         Massachusetts    84,551
22              Michigan    57,043
23             Minnesota    68,874
24           Mississippi    46,388
25              Missouri    57,825
26               Montana    60,984
27              Nebraska    64,263
28                Nevada    62,092
29         New Hampshire    73,711
30            New Jersey    77,206
31            New Mexico    52,190
32              New York    75,423
33        North Carolina    58,125
34          North Dakota    70,391
35                  Ohio    57,759
36              Oklahoma    56,306
37                Oregon    62,314
38          Pennsylvania    64,506
39          Rhode Island    63,551
40        South Carolina    53,615
41          South Dakota    68,173
42             Tennessee    58,311
43                 Texas    62,585
44                  Utah    59,449
45               Vermont    63,035
46              Virginia    69,021
47            Washington    75,345
48         West Virginia    50,024
49             Wisconsin    61,496
50               Wyoming    73,216

In [7]:
url = "https://worldpopulationreview.com/states"
response = requests.get(url)
soup = BeautifulSoup(response.content, "html.parser")
type(soup)
soup.find("title")
print(response.status_code)

name_state = soup.find_all("td", class_="z-40 border px-2 py-0.5")[::8]
name_state_lists = [i.get_text().strip() for i in name_state][:50:]
last_city = soup.find_all("td", class_="z-40 border px-2 py-0.5")[407:412:]
last_city_lists = [i.get_text().strip() for i in last_city][0]
name_state_lists.append(last_city_lists)
population = soup.find_all("td", class_="z-40 border px-2 py-0.5")[3::8]
population_lists = [i.get_text().strip() for i in population][:50:]
last_population = soup.find_all("td", class_="z-40 border px-2 py-0.5")[407:412:]
last_population_lists = [i.get_text().strip() for i in last_city][3]
population_lists.append(last_population_lists)

name_state1 = []
population = []
states1 = [i for i in name_state_lists]
population = [i for i in population_lists]
population_df = pd.DataFrame({'State': states, 'Population': population}).sort_values('State').reset_index(drop= True )

population_df

200

                   State  Population
0                Alabama  38,965,193
1                 Alaska  30,503,301
2                Arizona  22,610,726
3               Arkansas  19,571,216
4             California  12,961,683
5               Colorado  12,549,689
6            Connecticut  11,785,935
7               Delaware  11,029,227
8   District of Columbia  10,835,491
9                Florida  10,037,261
10               Georgia   9,290,841
11                Hawaii   8,715,698
12                 Idaho   7,812,880
13              Illinois   7,431,344
14               Indiana   7,126,489
15                  Iowa   7,001,399
16                Kansas   6,862,199
17              Kentucky   6,196,156
18             Louisiana   6,180,253
19                 Maine   5,910,955
20              Maryland   5,877,610
21         Massachusetts   5,737,915
22              Michigan   5,373,555
23             Minnesota   5,108,468
24           Mississippi   4,573,749
25              Missouri   4,526,154
26               Montana   4,233,358
27              Nebraska   4,053,824
28                Nevada   3,617,176
29         New Hampshire   3,417,734
30            New Jersey   3,207,004
31            New Mexico   3,194,176
32              New York   3,067,732
33        North Carolina   2,940,546
34          North Dakota   2,939,690
35                  Ohio   2,114,371
36              Oklahoma   1,964,726
37                Oregon   1,978,379
38          Pennsylvania   1,770,071
39          Rhode Island   1,435,138
40        South Carolina   1,402,054
41          South Dakota   1,395,722
42             Tennessee   1,132,812
43                 Texas   1,095,962
44                  Utah   1,031,890
45               Vermont     919,318
46              Virginia     783,926
47            Washington     733,406
48         West Virginia     647,464
49             Wisconsin     584,057
50               Wyoming     678,972

In [48]:
import pandas as pd

dfdb = pd.read_csv(r"C:\Users\38095\Documents\GitHub\Project1-copies\linkedin-jobs-usa.csv")

salary_values = dfdb['salary'].str.split('-', expand=True)
lower_salary = salary_values[0].str.replace('[^\d.]', '', regex=True).astype(float)
upper_salary = salary_values[1].str.replace('[^\d.]', '', regex=True).astype(float)
average = (upper_salary + lower_salary)/2
dfdb['salary'] = average.round()
dfdb

dict_salary ={55.0 : 55000,
              70.0 : 70000,
              50.0 : 50000,
              32.0 : 32000,
              60.0 : 60000,
              30.0 : 30000,
              23.0 : 45000,
              45.0 : 45000,
              42.0 : 42000,
              5900.0 : 59000,
              29.0 : 29000,
              35.0 : 35000,
              36.0 :36000,
              40.0 :40000,
              69.0 :69000
              }
dfdb.salary = dfdb.salary.replace(dict_salary)

dfdb.salary.mean()

dfdb.title.fillna("Junior Data Analyst", inplace = True)

dfdb.isnull().any()

dfdb.title.value_counts()

# Dictionary to map similar job titles to a standardized title
#title_mapping = {
 #   "Analyst (Global Data and Analytics)": "Global Data and Analytics Analyst",
  #  "Analyst - Data Visualization": "Data Visualization Analyst",
  #  "Analyst, Data and Analytics": "Data and Analytics Analyst",
   # "Associate Data Analyst": "Associate Data Analyst",
    #"Business Data Analyst": "Business Data Analyst",
 #   "Consultant/Data Analyst": "Consultant/Data Analyst",
 #   "Data Analyst": "Data Analyst",
 #   "Data Analyst (Global Remote)": "Global Remote Data Analyst",
 #   "Data Analyst (Hybrid)": "Hybrid Data Analyst",
 #   "Data Analyst (Remote)": "Remote Data Analyst",
 #   "Data Analyst (SQL)": "SQL Data Analyst",
   # "Data Analyst (SQL, Teraform, Tableau) III - Remote": "Remote SQL Data Analyst",
    #"Data Analyst - (Remote - US)": "Remote US Data Analyst",
  #  "Data Analyst - Energy": "Energy Data Analyst",
   # "Data Analyst - Recent Graduate": "Recent Graduate Data Analyst",
  #  "Data Analyst - Remote": "Remote Data Analyst",
  #  "Data Analyst - Weekly Hybrid Remote/Onsite Schedule": "Weekly Hybrid Remote/Onsite Data Analyst",
  #  "Data Analyst - remote!": "Remote Data Analyst",
  #  "Data Analyst I": "Data Analyst I",
  #  "Data Analyst I (entry level)": "Entry Level Data Analyst",
  #  "Data Analyst III - Remote": "Remote Data Analyst III",
  #  "Data Analyst, Money": "Money Data Analyst",
  #  "Data Analyst/ $100M Valuation/ Hybrid": "Hybrid Data Analyst",
  #  "Data Analyst/Collector": "Collector Data Analyst",
  #  "Data Analytics Analyst": "Data Analytics Analyst",
  #  "Data Visualization Analyst": "Data Visualization Analyst",
  #  "Data analyst": "Data Analyst",
  #  "Entry Level Data Analyst": "Entry Level Data Analyst",
   # "Entry-Level Data Analyst": "Entry Level Data Analyst",
    #"Group Data Analyst": "Group Data Analyst",
    #"Junior Data Analyst": "Junior Data Analyst",
  #  "Junior Data Analyst-Entry Level": "Junior Data Analyst",
  #  "Marketing Data Analyst": "Marketing Data Analyst",
  #  "REMOTE Data Analyst (SQL, Operations)": "Remote SQL Data Analyst",
   # "SQL Data Analyst": "SQL Data Analyst",
   # "Senior Data Analyst": "Senior Data Analyst"
#}

# Update DataFrame with standardized job titles
#df2['title'] = df2['title'].map(title_mapping)
# Dictionary to map similar job titles to a standardized title
title_mapping = {
    "Data Visualization": "Data Visualization",
    "Junior": "Junior Data Analyst",
    "Data and Analytics": "Data and Analytics",
    "Associate Data Analyst": "Associate Data Analyst",
    "Business Data Analyst": "Business Data Analyst",
    "Consultant": "Consultant",
    "Global Remote": "Remote Data Analyst",
    "Hybrid": "Hybrid Data Analyst",
    "Remote": "Remote Data Analyst",
    "SQL": "SQL Data Analyst",
    "Energy": "Energy Data Analyst",
    "Recent Graduate": "Recent Graduate Data Analyst",
    "Weekly Hybrid Remote/Onsite Schedule": "Hybrid Data Analyst",
    "Collector": "Collector Data Analyst",
    "Data Analytics": "Data Analytics Analyst",
    "Marketing": "Marketing Data Analyst",
    "SQL, Operations": "SQL Data Analyst",
    "Senior": "Senior Data Analyst",
    "Entry Level": "Entry Level Data Analyst",
    "Data Analyst": "Data Analyst"
}

# Update DataFrame with standardized job titles
def map_job_title(title):
    for key, value in title_mapping.items():
        if key.lower() in title.lower():
            return value
    return title


updated_title = dfdb["title"].apply(map_job_title)
dfdb["title"] = updated_title

average_salary_by_title = dfdb.groupby("title")['salary'].mean()
#df2['salary'] = df2.apply(lambda row: average_salary_by_title[row['title']] if pd.isna(row['salary']) else row['salary'], axis=1)

state_mapping_full = {
    "United States": "United States",
    "New York City Metropolitan Area": "New York",
    "Chicago, IL": "Illinois",
    "New York, NY": "New York",
    "Austin, TX": "Texas",
    "Texas, United States": "Texas",
    "Timonium, MD": "Maryland",
    "Dallas, TX": "Texas",
    "Boston, MA": "Massachusetts",
    "Charlotte, NC": "North Carolina",
    "Miami, FL": "Florida",
    "New York, United States": "New York",
    "Franklin, TN": "Tennessee",
    "Tempe, AZ": "Arizona",
    "Illinois, United States": "Illinois",
    "Greensboro--Winston-Salem--High Point Area": "North Carolina",
    "Greater Scranton Area": "Pennsylvania",
    "Tennessee, United States": "Tennessee",
    "Indiana, United States": "Indiana",
    "Denver Metropolitan Area": "Colorado",
    "District of Columbia, United States": "District of Columbia",
    "Conshohocken, PA": "Pennsylvania",
    "Phoenix, AZ": "Arizona",
    "North Carolina, United States": "North Carolina",
    "Greater Sacramento": "California",
    "Richfield, MN": "Minnesota",
    "Morgan Hill, CA": "California",
    "Cincinnati Metropolitan Area": "Ohio",
    "Hartford, CT": "Connecticut",
    "Atlanta Metropolitan Area": "Georgia",
    "Quincy, MA": "Massachusetts",
    "Buffalo-Niagara Falls Area": "New York",
    "San Francisco, CA": "California",
    "Irvine, CA": "California",
    "Houston, TX": "Texas",
    "Omaha, NE": "Nebraska",
    "San Jose, CA": "California",
    "Scottsdale, AZ": "Arizona",
    "San Francisco Bay Area": "California",
    "Manassas, VA": "Virginia"
}


dfdb['location'] = dfdb['location'].map(state_mapping_full)

state_counts = dfdb["location"].value_counts()
total_count = state_counts.sum() - state_counts["United States"]
ratios = state_counts / total_count
replacements = (dfdb["location"].value_counts()["United States"] * ratios).round().astype(int)
print(replacements)
for i, location in enumerate(dfdb["location"]):
    if location == "United States":
        for key, value in replacements.items():
            if value > 0 and key != "United States":
                dfdb.at[i, "location"] = key
                replacements[key] -= 1
                break


dfdb.groupby("location")["salary"].mean()

data = {
    "State": ["Arizona", "California", "Colorado", "Connecticut", "District of Columbia",
                 "Florida", "Georgia", "Illinois", "Indiana", "Maryland", "Massachusetts",
                 "Minnesota", "Nebraska", "New York", "North Carolina", "Ohio", 
                 "Pennsylvania", "Tennessee", "Texas"],
    "Av_asalary": [81431.818182, 70408.450704, 40411.111111, 89375.000000, 117546.511628,
               86250.000000, 81888.888889, 86000.000000, 103750.000000, 86363.636364,
               82700.000000, 50583.333333, 95000.000000, 72483.673469, 69901.639344,
               71000.000000, 86603.829787, 102305.555556, 83276.595745],
    "Number_of_Vac": [135, 251, 49, 47, 49, 54, 46, 258, 50, 82, 119, 47, 41, 475, 153, 47, 97, 101, 302]
}

result_df = pd.DataFrame(data)

location
United States           221
New York                123
Texas                    78
Illinois                 67
California               65
North Carolina           40
Arizona                  35
Massachusetts            31
Tennessee                26
Pennsylvania             25
Maryland                 21
Florida                  14
Indiana                  13
Colorado                 13
District of Columbia     13
Ohio                     12
Minnesota                12
Connecticut              12
Georgia                  12
Nebraska                 11
Virginia                  9
Name: count, dtype: int32

In [66]:
import numpy as np
merged_df = pd.merge(population_df, income_state_df, on='State', how='left')
merged_df = pd.merge(merged_df, result_df, on='State', how='left')
merged_df['Population'] = merged_df['Population'].str.replace(',', '').astype(int)
merged_df['Av_income'] = merged_df['Av_income'].str.replace(',', '').astype(int)
merged_df.dropna(how='any', inplace=True)
merged_df.reset_index(drop= True )

merged_df.loc['Av_asalary'] = merged_df['Av_asalary'].astype(int)
merged_df.loc['Number_of_Vac'] = merged_df['Number_of_Vac'].astype(int)

IntCastingNaNError: Cannot convert non-finite values (NA or inf) to integer

In [63]:
merged_df['Vacancies/1_mln_Population'] = ['Number_of_Vac'/'Population*1000000']

TypeError: unsupported operand type(s) for /: 'str' and 'str'

In [64]:
merged_df

,State,Population,Av_income,Av_asalary,Number_of_Vac
2,Arizona,22610726.0,58390.0,81431.818182,135.0
4,California,12961683.0,77013.0,70408.450704,251.0
5,Colorado,12549689.0,75708.0,40411.111111,49.0
6,Connecticut,11785935.0,83340.0,89375.000000,47.0
8,District of Columbia,10835491.0,96092.0,117546.511628,49.0
9,Florida,10037261.0,64804.0,86250.000000,54.0
10,Georgia,9290841.0,56588.0,81888.888889,46.0
13,Illinois,7431344.0,67653.0,86000.000000,258.0
14,Indiana,7126489.0,58329.0,103750.000000,50.0
20,Maryland,5877610.0,70236.0,86363.636364,82.0
21,Massachusetts,5737915.0,84551.0,82700.000000,119.0
23,Minnesota,5108468.0,68874.0,50583.333333,47.0
27,Nebraska,4053824.0,64263.0,95000.000000,41.0
32,New York,3067732.0,75423.0,72483.673469,475.0
33,North Carolina,2940546.0,58125.0,69901.639344,153.0
35,Ohio,2114371.0,57759.0,71000.000000,47.0
38,Pennsylvania,1770071.0,64506.0,86603.829787,97.0
42,Tennessee,1132812.0,58311.0,102305.555556,101.0
43,Texas,1095962.0,62585.0,83276.595745,302.0
Av_asalary,NaN,NaN,NaN,NaN,NaN